@model OcecomTickets.Models.Employee

@{
    ViewBag.Title = "Detalles Colaborador";
}

<h2>Detalles Colaborador</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>E-mail</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>Nombre</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>Celular</dt>
        <dd>@Html.DisplayFor(model => model.MobilePhone)</dd>

        <dt>Teléfono de Casa</dt>
        <dd>@Html.DisplayFor(model => model.HomePhone)</dd>

        <dt>Notas</dt>
        <dd>@Html.DisplayFor(model => model.Notes)</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar al Listado", "Index")
</p>
