@model OcecomTickets.Models.Client

@{
    ViewBag.Title = "Borrar Cliente";
}

<h2>Borrar Cliente</h2>

<h3>¿Estás seguro que quieres borrar el cliente?</h3>
<h4>Se borrarán también todos los tickets de este cliente.</h4>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>E-mail</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>Nombre del Cliente</dt>
        <dd>@Html.DisplayFor(model => model.ClientName)</dd>

        <dt>Nombre del Contacto</dt>
        <dd>@Html.DisplayFor(model => model.ContactName)</dd>

        <dt>Teléfono de Oficina</dt>
        <dd>@Html.DisplayFor(model => model.OfficePhone)</dd>

        <dt>Celular</dt>
        <dd>@Html.DisplayFor(model => model.MobilePhone)</dd>

        <dt>Hrs. Servicio x Mes</dt>
        <dd>@Html.DisplayFor(model => model.MonthlyHours)</dd>

        <dt>Notas</dt>
        <dd>@Html.DisplayFor(model => model.Notes)</dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar Cliente" class="btn btn-default" /> |
            @Html.ActionLink("Regresar al Listado", "Index")
        </div>
    }
</div>
