@model OcecomTickets.Models.Client

@{
    ViewBag.Title = "Detalles Cliente";
}

<h2>Detalles Cliente</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>E-mail</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>Nombre del Cliente</dt>
        <dd>@Html.DisplayFor(model => model.ClientName)</dd>

        <dt>Nombre del Contacto</dt>
        <dd>@Html.DisplayFor(model => model.ContactName)</dd>

        <dt>Teléfono de Oficina</dt>
        <dd>@Html.DisplayFor(model => model.OfficePhone)</dd>

        <dt>Teléfono Móvil</dt>
        <dd>@Html.DisplayFor(model => model.MobilePhone)</dd>

        <dt>Horas Mensuales</dt>
        <dd>@Html.DisplayFor(model => model.MonthlyHours)</dd>

        <dt>Notas</dt>
        <dd>@Html.DisplayFor(model => model.Notes)</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar al listado", "Index")
</p>
