@model IEnumerable<OcecomTickets.Models.Client>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Crear Nuevo Cliente", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>Cliente</th>
        <th>Contacto</th>
        <th>Celular</th>
        <th>E-mail</th>
        <th>Hrs. Servicio x Mes</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ClientName)</td>
            <td>@Html.DisplayFor(modelItem => item.ContactName)</td>
            <td>@Html.DisplayFor(modelItem => item.MobilePhone)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.MonthlyHours)</td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
