@model OcecomTickets.Models.Ticket

@{
    ViewBag.Title = "Detalle Ticket";
}

<h2>Detalles del Ticket</h2>
<h3>Estado: @Html.DisplayFor(model => model.Status)</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha de Creación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            Severidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendlySeverity)
        </dd>

        <dt>
            Categoría
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            Nota
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        @if (Model.Status == "Cerrado")
        {
            <dt>Fecha de Cierre</dt>
            <dd>@Html.DisplayFor(model => model.ClosedDate)</dd>
            <dt>Cerrado Por</dt>
            <dd>@Html.DisplayFor(model => model.ClosedByUser)</dd>
            <dt>Solución</dt>
            <dd>@Html.DisplayFor(model => model.SolutionNote)</dd>
        }

    </dl>
</div>



@if (Model.Status != "Cerrado")
{
    <div>
        <h3>Cerrar Ticket</h3>
        <hr />
        <form action="/Tickets/Close/@Model.Id" method="post">

            <div class="form-group">
                <label class="control-label col-md-2" for="solution">Solución</label>
                <div class="col-md-10">
                    <textarea class="form-control text-box multi-line" id="solution" name="solution"></textarea>
                    <span id="closeTicketValidation" class="field-validation-valid text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="margin-top:20px;">
                    <input type="submit" value="Cerrar Ticket" class="btn btn-default" onclick="return validateCloseTicket()" />
                </div>
            </div>

        </form>
    </div>
}

<p>
    @Html.ActionLink("Regresar al Listado", "Index")
</p>


<script>
    function validateCloseTicket() {
        var solutionText = $('#solution').val();
        if (isNullOrWhitespace(solutionText)) {            
            $('#closeTicketValidation').text('Se debe especificar la solución.');
            return false;
        }
        return true;
    }

    function isNullOrWhitespace(input) {

        if (typeof input === 'undefined' || input == null) return true;

        return input.replace(/\s/g, '').length < 1;
    }
</script>