@model IEnumerable<OcecomTickets.Models.Ticket>

@{
    ViewBag.Title = "Tickets";
}

<h2>Tickets</h2>

<p>
    @if (User.IsInRole("Client"))
    {
        @Html.ActionLink("Crear Nuevo Ticket", "Create")
    }
</p>

<hr />

<ul class="nav nav-tabs" role="tablist" id="ticketTabs">
    <li role="presentation" class="@(ViewBag.CurrentTab == "open" ? "active" : "")">
        <a href="#open" aria-controls="open" role="tab" data-toggle="tab">Abiertos</a>
    </li>
    <li role="presentation" class="@(ViewBag.CurrentTab == "inprogress" ? "active" : "")">
        <a href="#inprogress" aria-controls="inprogress" role="tab" data-toggle="tab">En Progreso</a>
    </li>
    <li role="presentation" class="@(ViewBag.CurrentTab == "closed" ? "active" : "")">
        <a href="#closed" aria-controls="closed" role="tab" data-toggle="tab">Cerrados</a>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane @(ViewBag.CurrentTab == "open" ? "active" : "")" id="open">
        <div class="ticketsTableContainer">
            @if (Model.Count(t => t.Status == "Abierto") == 0)
            {
                <p>No se tienen tickets abiertos.</p>
            }
            else
            {
                <table class="table table-striped table-hover">
                    <tr>
                        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                        {
                            <th>@Html.ActionLink("Cliente", "Index", new { sortBy = ViewBag.ClientSort, currentTab = "open" })</th>
                        }
                        <th>@Html.ActionLink("Fecha Alta", "Index", new { sortBy = ViewBag.DateSort, currentTab = "open" })</th>
                        <th>@Html.ActionLink("Severidad", "Index", new { sortBy = ViewBag.SeveritySort, currentTab = "open" })</th>
                        <th>@Html.ActionLink("Categoría", "Index", new { sortBy = ViewBag.CategorySort, currentTab = "open" })</th>
                        <th>Nota</th>
                    </tr>

                    @foreach (var item in Model.Where(t => t.Status == "Abierto"))
                {
                        <tr onclick="window.location.href='/Tickets/Details/@item.Id'">
                            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Client.ClientName)
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.CreationDate)
                            </td>
                            <td>
                                @item.FriendlySeverity
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                        </tr>
                    }
                </table>

            }
        </div>
    </div>

    <div role="tabpanel" class="tab-pane @(ViewBag.CurrentTab == "inprogress" ? "active" : "")" id="inprogress">
        <div class="ticketsTableContainer">
            @if (Model.Count(t => t.Status == "En Progreso") == 0)
            {
                <p>No se tienen tickets en progreso.</p>
            }
            else
            {
                <table class="table table-striped table-hover">
                    <tr>
                        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                        {
                            <th>@Html.ActionLink("Cliente", "Index", new { sortBy = ViewBag.ClientSort, currentTab = "inprogress" })</th>
                        }
                        <th>@Html.ActionLink("Fecha Alta", "Index", new { sortBy = ViewBag.DateSort, currentTab = "inprogress" })</th>
                        <th>@Html.ActionLink("Severidad", "Index", new { sortBy = ViewBag.SeveritySort, currentTab = "inprogress" })</th>
                        <th>@Html.ActionLink("Categoría", "Index", new { sortBy = ViewBag.CategorySort, currentTab = "inprogress" })</th>
                        <th>Nota</th>
                    </tr>

                    @foreach (var item in Model.Where(t => t.Status == "En Progreso"))
                {
                        <tr onclick="window.location.href='/Tickets/Details/@item.Id'">
                            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Client.ClientName)
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.CreationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FriendlySeverity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>

    <div role="tabpanel" class="tab-pane @(ViewBag.CurrentTab == "closed" ? "active" : "")" id="closed">
        <div class="ticketsTableContainer">
            @if (Model.Count(t => t.Status == "Cerrado") == 0)
            {
                <p>No se tienen tickets cerrados.</p>
            }
            else
            {
                <table class="table table-striped table-hover">
                    <tr>
                        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                        {
                            <th>@Html.ActionLink("Cliente", "Index", new { sortBy = ViewBag.ClientSort, currentTab = "closed" })</th>
                        }
                        <th>@Html.ActionLink("Fecha Alta", "Index", new { sortBy = ViewBag.DateSort, currentTab = "closed" })</th>
                        <th>@Html.ActionLink("Fecha Cierre", "Index", new { sortBy = ViewBag.CloseDateSort, currentTab = "closed" })</th>
                        <th>@Html.ActionLink("Severidad", "Index", new { sortBy = ViewBag.SeveritySort, currentTab = "closed" })</th>
                        <th>@Html.ActionLink("Categoría", "Index", new { sortBy = ViewBag.CategorySort, currentTab = "closed" })</th>
                        <th>Nota</th>
                    </tr>

                    @foreach (var item in Model.Where(t => t.Status == "Cerrado"))
                {
                        <tr onclick="window.location.href='/Tickets/Details/@item.Id'">
                            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Client.ClientName)
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.CreationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClosedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FriendlySeverity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>